* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#container {
  color: darkblue;
  text-align: center;
  font-size: 15px;
  width: 70%;
  border: 1px solid #000;
}
#container h1 {
  color: blue;
  font-family: Arial;
  font-size: 20px;
}
#container p {
  font-size: 10px;
  color: blueviolet;
}
